<!DOCTYPE html>
<html>

<head></head>
<style>
    h1 {
		color: purple;
		font-family: verdana;
		text-align: center;
		font-size: 300%;
	}
	a:link {
        color: blueviolet;
        text-align: center;
        text-decoration: none;
    }
    a:hover {
        color: rgb(40, 206, 206);
        text-align: center;
        background-color: transparent;
        text-decoration: underline;
    }
</style>
<body>
	<h1>Finstagram</h1>
	<a href="/login">Login</a><br>
	<a href="/register">Register</a>
</body>

</html>
