<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <div>
            <form action="/loginAuth" method="post">
                <input type="text" name="username" placeholder="username" required/>
                <br/>
                <input type="password" name="password" placeholder="password" required/>
                <br/>
                <input type="submit" value="Login">
            </form>
        </div>
        {% if error %}
            {{ error }}
        {% endif %}
    </body>
</html>
